<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="static\css\styles.css">




{% extends 'base.html' %}

{% load static %}

{% block navbar %}
<style>
  #Home{
    border-bottom: 4px #3c84f4 solid; margin-bottom: 40px; position: relative;
  }
</style>
{% include 'components/navbar.html' %}
{% endblock navbar %}


{% block left_sidebar %}
{% include 'components/sidebars/leftBar/sidebar.html' %}

{% endblock left_sidebar %}


{% block content %}

<div
  style=" height: 130px; box-shadow: 0px 0px 0.5px 0.5px  #d1d1d1; border: 1px solid #e0dfdc; border-radius: 5px; background-color: rgb(255, 255, 255); width: 100%; margin-top: 15px;">
  <div style="display: flex;">
    {% for img in user.fotoPerfil.all %}
    <img style="border-radius: 50%; width: 50px; height: 50px; margin-left: 2%; margin-top: 3%;"
      src="{{img.imagen.url}}" alt="">
    {% endfor %}

    <button data-toggle="modal" data-target="#Modal_Publicar"
      style="text-align: calc(100% - 80px); height: 50px; width: 75%; margin-left: 5%; margin-top: 3%; border-radius: 50px; border: 1px #b2b2b2 solid;">Muestra
      tu arte al mundo!</button>

  </div>

  <div style="margin-top: 15px; ">

    <div class="container">
      <div class="row">
        <div class="col">
          <button style="text-align: center" data-toggle="modal" data-target="#Modal_Publicar"><svg
              style="float: left; color: rgb(22, 148, 232);" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
            </svg>Foto</button>
        </div>
        <div class="col">
          <button data-toggle="modal" data-target="#Modal_Publicar"><svg
              style="color: rgb(27, 157, 57); float: left; margin-left: 5px;" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round"
                d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z" />
            </svg>Video</button>
        </div>

      </div>


    </div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="Modal_Publicar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 style="text-align: center; margin-left: 38%; font-weight: 600;" class="modal-title"
            id="exampleModalLabel">Crear publicación</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div style="display: flex; height: 55px;">
            <div style="width: 50px; height: 50px;">

              {% for img in user.fotoPerfil.all %}
              <img style="border-radius: 50%; width: 50px; max-height: 50px;" src="{{img.imagen.url}}" alt="">
              {% endfor %}
            </div>
            <p style="margin-left: 20px; margin-top: 2.5%; font-weight: 600;">{{user.username}} {{user.lastname}}</p>
          </div>

          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group" rows="6">
              {{form.DescripcionPublicacion}}

            </div>
            <div class="col">
              <p style="float: left; margin-right: 5px;">Agrega a tu publicación: </p>
              <svg style="float: left;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
              </svg>


              <svg style="float: left; margin-left: 5px;" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round"
                  d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z" />
              </svg>

            </div>
            <br>
            <div class="container">
              <div class="row">
                <div style="margin-left: 3.5%; margin-top: 10px;">
                  <p>Agregar imagenes a tu publicación:</p>
                  <div class="mb-2">{{form.Multimedia_Img}}</div>
                </div>
              </div>

              <div class="row">
                <div style="margin-left: 3.5%;">
                  <p>Agregar videos a tu publicación:</p>
                  <div class="mb-2">{{form.Multimedia_Video}}</div>
                </div>
              </div>
            </div>



        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-lg btn-block"
            style="background-color: #0d6efd !important;">Publicar</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Fin Modal -->

  {% for post in posts %}
  <div
    style=" box-shadow: 0px 0px 0.5px 0.5px #d1d1d1; border: 1px solid #e0dfdc; border-radius: 5px; background-color: rgb(255, 255, 255); width: 100%; margin-top: 7%;">
    <div>
      <div style="display: flex;">
        <a href="{% url 'users:perfil' post.Autor.username %}">
          {% for img in post.Autor.fotoPerfil.all %}
          <img style="border-radius: 50%; width: 50px; height: 50px; margin-left: 5px; margin-top: 5px;"
            src="{{img.imagen.url}}" alt="">
          {% endfor %}

          <div>
            <p style="height: 25px; margin-left: 5px; margin-top: 3px; font-weight: 600;">{{post.Autor.first_name}}
              {{post.Autor.last_name}} </p>
        </a>
        <div style="display: flex; height: 30px;">
          <p style="height: 25px; margin-left: 5px; font-size: 12px; margin-top: 2px;">{{post.FechaPublicacion}}</p><svg
            style="width: 18px; margin-left: 2%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM6.262 6.072a8.25 8.25 0 1010.562-.766 4.5 4.5 0 01-1.318 1.357L14.25 7.5l.165.33a.809.809 0 01-1.086 1.085l-.604-.302a1.125 1.125 0 00-1.298.21l-.132.131c-.439.44-.439 1.152 0 1.591l.296.296c.256.257.622.374.98.314l1.17-.195c.323-.054.654.036.905.245l1.33 1.108c.32.267.46.694.358 1.1a8.7 8.7 0 01-2.288 4.04l-.723.724a1.125 1.125 0 01-1.298.21l-.153-.076a1.125 1.125 0 01-.622-1.006v-1.089c0-.298-.119-.585-.33-.796l-1.347-1.347a1.125 1.125 0 01-.21-1.298L9.75 12l-1.64-1.64a6 6 0 01-1.676-3.257l-.172-1.03z"
              clip-rule="evenodd" />
          </svg>
        </div>

      </div>

    </div>

    <h2 style="margin-left: 5px;">{{post.DescripcionPublicacion}}</h2>
    <div class="py-2">
      <div data-interval="false" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          {% for img in post.Multimedia_Img.all %}
          <div class="carousel-item {% if forloop.first %} active {% endif %}">
            <img class="d-block w-100" src="{{img.imagen.url}}" alt="">
          </div>
          {% endfor %}

          {% for video in post.Multimedia_Video.all %}
          <div class="carousel-item {% if forloop.first %} active {% endif %}">
            <video class="embed-responsive embed-responsive-16by9" controls="controls">
              <source src="{{video.video.url}}" type="video/mp4" />
            </video>
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
    <hr>

    <button class="bg-grey-light hover:bg-grey text-grey-darkest font-bold py-2 px-4 rounded inline-flex items-center"
      style="width: 100%; height: 35px; margin-left: 25%;">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
      </svg>
      <a href="{% url 'publicacion:comments' post.pk %}">Interactuar con la publicación</a>
    </button>
  </div>

</div>

{% endfor %}

<div>
  <br>
  <hr>
  <p style="text-align: center;"> No hay más publicaciones, ¡Sigue subiendo contenido! </p>
  <br>
</div>

{% endblock content %}

<!--Inicia bloque de mensajes-->

{% block right_sidebar %}

{% block contenedor %}


<h2 style="text-align: center; font-weight: 600;" class="modal-title" id="exampleModalLabel">Bienvenido a tus mensajes
  {{user}}</h2>

{% for inbox in inbox %}
<div class="div_inbox">


  {% for second_user in inbox.canalusuario_set.all %}

  {% if second_user.usuario == request.user %}

  {% else %}

  <a href="{% url 'dm:detailms' second_user.usuario.username %}">
    <p>
      <h2 style="text-align: center; font-weight: 600;color: rgb(22, 148, 232);" class="modal-title"
        id="exampleModalLabel">{{second_user.usuario}}</h2>
    </p>
    <small>
      Tienes ({{inbox.canalmensaje_set.count}}) Mensajes
    </small>
  </a>

  {% endif %}

  {% endfor %}

  {% if inbox.canalmensaje_set.count != 0 %}
  <div class="div_ms_inbox">

    {% with ultimo_mensaje=inbox.canalmensaje_set.last %}

    <p>
    <h2 style="text-align: center; font-weight: 650;font-size: 12px;" class="modal-title" id="exampleModalLabel">
      Mensaje: {{ultimo_mensaje.texto}}</h2>
    </p>

    {% endwith %}
  </div>
  {% else %}
  <p>
  <h2 style="text-align: center; font-weight: 650;font-size: 12px;" class="modal-title" id="exampleModalLabel">No hay
    mensajes en el chat</h2>
  </p>
  {% endif %}



</div>
{% empty %}

<div class="div_inbox">
  <h2 style="text-align: center; font-weight: 600;font-size: 15px;" class="modal-title" id="exampleModalLabel">No tienes
    ningún mensaje</h2>
</div>


{% endfor %}


<style>
  .div_inbox {
    width: 100%;
    margin: 10px auto;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    padding: 10px;
    text-align: center;
  }
</style>

{% endblock %}



{% endblock right_sidebar %}


{% block footer %}

{% endblock footer %}


{% block javascript %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
  function mostrarPubliImg() {
    document.getElementById('imagen').style.display = "block";
    document.getElementById('video').style.display = "none";

  }

  function mostrarPubliVi() {
    document.getElementById('video').style.display = "block";
    document.getElementById('imagen').style.display = "none";

  }

  let botonMG = false;
  function cambiarcolormg() {
    if (botonMG == true) {
      document.getElementById('megusta').style.color = "";
      botonMG = false;
      console.log(botonMG);
    } else if (botonMG == false) {
      document.getElementById('megusta').style.color = "#0d6efd";
      botonMG = true;
    }

  }
</script>

{% endblock javascript %}